@model BettingDataProvider.Models.ViewModels.MatchDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" rel="stylesheet" type="text/css" />
<link href="/css/tree.css" rel="stylesheet" type="text/css" />

<h1>Match's Details</h1>

<div>
    <nav class="tree-nav">
        <details class="tree-nav__item is-expandable">
            <summary class="tree-nav__item-title">@Model.Match.Name | @Model.Match.StartDate</summary>

            <h4>Active markets</h4>
            @if (Model.ActiveMarkets.Count == 0)
            {
                <p>No Active markets</p>
            }
            else
            {
                @foreach (var market in Model.ActiveMarkets)
                {
                    <details class="tree-nav__item is-expandable">
                        <summary class="tree-nav__item-title">@market.Name</summary>

                        @foreach (var odd in market.Odds.Where(o => o.IsActive == true))
                        {
                            <details class="tree-nav__item is-expandable">

                                @if (odd.SpecialBetValue == null)
                                {
                                    <summary class="tree-nav__item-title">@odd.Name -> @odd.Value</summary>
                                }
                                else
                                {
                                    <summary class="tree-nav__item-title">@odd.Name -> @odd.Value -> @odd.SpecialBetValue</summary>
                                }

                            </details>
                        }

                    </details>
                }
            }


            <h4>Inactive markets</h4>
            @if (Model.InactiveMarkets.Count == 0)
            {
                <p>No Inactive markets</p>
            }
            else
            {
                @foreach (var market in Model.InactiveMarkets)
                {
                    <details class="tree-nav__item is-expandable">
                        <summary class="tree-nav__item-title">@market.Name</summary>

                        @foreach (var odd in market.Odds)
                        {
                            <details class="tree-nav__item is-expandable">

                                @if (odd.SpecialBetValue == null)
                                {
                                    <summary class="tree-nav__item-title">@odd.Name -> @odd.Value</summary>
                                }
                                else
                                {
                                    <summary class="tree-nav__item-title">@odd.Name -> @odd.Value -> @odd.SpecialBetValue</summary>
                                }

                            </details>
                        }

                    </details>
                }
            }
            
        </details>
    </nav>
</div>
